<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Anschreiben</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
    <div id="app" class="container" v-cloak>
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Welcome to Anschreiben</h1>
                    <p class="lead">A late-night webapp that keeps track of your orders.</p>
                </div>
            </div>
            <div class="row justify-content-center pb-2">
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-header container">
                            <div class="row align-items-center justify-content-between">
                                <div class="col">
                                    <p class="h4">Your orders</p>
                                </div>
                                <div class="col text-right" v-if="items.length > 0">
                                    <div v-if="!confirmClearOrders">
                                        <button class="btn btn-danger btn-sm" @click="toggleClearConfirmDialoge"><i class="fa fa-trash"></i> Clear Orders</button>
                                    </div>
                                    <div v-if="confirmClearOrders" class="btn-group btn-group-sm">
                                        <button class="btn btn-danger btn-sm" @click="removeAllItems">Clear</button>
                                        <button class="btn btn-warning btn-sm" @click="toggleClearConfirmDialoge">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="form-inline justify-content-center align-items-center d-flex">
                                    <div class="form-group mx-3 mb-2">
                                        <label for="name" class="mr-2">Name</label>
                                        <input type="text" class="new-item form-control" id="name" v-model="newItem.name" placeholder="Jug of moonshine">
                                    </div>
                                    <div class="form-group mx-3 mb-2">
                                        <label for="price" class="mr-2">Price</label>
                                        <input type="number" class="new-item form-control" id="price" v-model="newItem.price" placeholder="eg 3.90">
                                    </div>
                                    <button id="add" class="btn btn-primary mb-2 add-button" :disabled="!newItem.price" @click="addItem"><i class="fa fa-plus"></i> Add item</button>
                                </div>
                                <hr>
                                <template v-for="(item, index) in items.slice().reverse()">
                                    <div class="row justify-content-center align-items-center mb-2" >
                                        <div class="col col-lg-3">
                                            <span class="name h5">{{item.name}}</span><br>
                                            <span class="amount lead">{{item.amount}} x</span>
                                            <span class="price lead">{{item.price | currency}}</span>
                                        </div>
                                        <div class="col col-lg-3 text-right">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-sm btn-secondary" @click="increaseItemAmount(item)"><i class="fa fa-plus"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary" @click="decreaseItemAmount(item)"><i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger" @click="removeItem(item)"><i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" v-show="items.length" v-cloak>
                <div class="col-xs-12 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>What to pay</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-text text-center">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <p class="lead">
                                            You ordered <br>
                                            <span class="h5">{{totalItemCount}} Items</span> <br>
                                            for a total of
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="h4" id="sum">{{totalPrice | currency}}</p>
                                    </div>
                                </div>
                                Please choose a tip below <br>
                                <div class="btn-group btn-group-lg btn-group-toggle pt-2" data-toggle="buttons">
                                    <label class="btn btn-primary tip-button" @click="setSelectedTip(1.05)">
                                        <input type="radio" name="options" id="5-percent" data-tip="1.05" autocomplete="off" > 5%
                                    </label>
                                    <label class="btn btn-lg btn-primary tip-button" @click="setSelectedTip(1.10)">
                                        <input type="radio" name="options" id="10-percent" data-tip="1.10" autocomplete="off" > 10%
                                    </label>
                                    <label class="btn btn-lg btn-primary tip-button" @click="setSelectedTip(1.15)">
                                        <input type="radio" name="options" id="15-percent" data-tip="1.15" autocomplete="off" > 15%
                                    </label>
                                </div>
                                <p class="pt-2 h3 lead" v-show="selectedTip">
                                    Paying <br>
                                    <span class="h4">{{priceWithTip | currency}}</span> <br>
                                    equals a tip of <br>
                                    <span class="h4">{{actualTip}}</span>%
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="main.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    </body>
</html>
