/*
Color scheme:

primary: #61B2FF
warning: #FF5452

background:#000000
background-focus: #1A1A1A
text: #E6E6E6
*/

.text {
  color: #E6E6E6
}

.text-inverted {
  color: #000000;
}

.text-primary {
  color: #61B2FF
}

.text-warning {
  color: #FF5452
}

.background {
  background-color: #000000;
}

.background-inverted {
  background-color: #E6E6E6
}

.background-focus {
  background-color: #1A1A1A;
}

.background-primary {
  background-color: #61B2FF
}

.background-warning {
  background-color: #FF5452
}

/* Basic tags */

body {
  box-sizing: border-box;
  font-family: josefin-regular;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
}

p {
  margin: 0;
}

h1 {
  font-family: josefin-bold;
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-family: josefin-bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

strong {
  font-family: josefin-bold;
  font-weight: 800;
}

hr {
  border: 1px solid #1A1A1A;
}

label {
  display: block;
}

input {
  background-color: inherit;
  border: none;
  border-bottom: 0.1rem solid #61B2FF;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

input:focus {
  border: 0.1rem solid #61B2FF;
}

input::placeholder {
  /* color: #E6E6E6; */
  font-family: lemonberry;
  padding-left: 0;
  margin-left: 0;
}

input:focus::placeholder {
  color: transparent;
}

/* Buttons  */

button {
  border: none;
	color: #inherit;
  cursor: pointer;
	font: inherit;
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem 0 0 0;
	outline: inherit;
  padding: 0.5rem 1rem;
}

button:disabled {
  opacity: 0.25;
}

.button-main {
  border-radius: 2rem;
  margin-left: 0.25rem;
}

.button-quickaction {
  margin: 0 0 0 1rem;
  padding: 0;
}

/* item section */

.items {
  box-sizing: border-box;
  margin-bottom: -2rem;
  margin-top: 4rem;
  padding: 2rem;
}

.items hr:last-child {
  display: none;
}

.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-quickactions {
  flex-shrink: 0;
}

/* actions  */

.action {
  bottom: 3rem;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1rem;
}

.input-group-name {
  padding-right: 6px;
  width: 67%;
}

.input-group-price {
  width: 33%;
}

.slide-enter-active {
  animation: slide-in .25s;
}
.slide-leave-active {
  animation: slide-in .25s reverse;
}
@keyframes slide-in {
  0% {transform: translateY(100%); }
  100% { transform: translateY(0); }
}

/* Empty List CTA */

.empty-list {
  bottom: 4rem;
  font-family: lemonberry;
  font-size: 2rem;
  position: fixed;
  left: 0;
  line-height: 2rem;
  right: 0;
  text-align: center;
}


.empty-list-arrow {
  animation: 1s ease-in-out infinite arrow;
  font-size: 3rem;
  line-height: 3rem;
  padding-top: 1rem;
}

@keyframes arrow {
  0% { transform: translateY(-1.5rem); }
  50% { transform: translateY(0);}
  100% { transform: translateY(-1.5rem); }
}


/* header & footer  */


header {
  align-content: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  left: 0;
  padding: 0 2rem;
  right: 0;
  top: 0;
}

header button {
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

footer button {
  background-color: inherit;
  color: inherit;
  flex-grow: 1;
  margin: 0;
  padding: 1rem 0;
}

/* Font Imports  */

@font-face {
    font-family: lemonberry;
    src: url('assets/MRF Lemonberry Sans.otf');
}

@font-face {
    font-family: josefin-regular;
    src: url('assets/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefin-bold;
    src: url('assets/JosefinSans-Bold.ttf');
}
